/* ---------------------  max-width 992px ------------------------- */
@media (max-width: 992px) {
    .header {
        .header_top_wrapper {
            display: none;
        }

        .header_nav_wrapper {
            .navbar {
                background-color: $bg-1;

                .logo a {
                    color: $white;
                }

                .nav-menu {
                    position: fixed;
                    top: 80px;
                    left: -100%;
                    width: 100%;
                    flex-direction: column;
                    z-index: 100000;
                    padding: 30px;
                    gap: 30px;
                    background-color: $bg-1;

                    &.active {
                        left: 0;
                    }

                    a {
                        color: $white;
                    }
                }

                .hamburger.active .line:nth-child(2) {
                    background-color: transparent;
                }

                .hamburger.active .line:nth-child(1) {
                    transform: translateY(12px) rotate(45deg);
                }

                .hamburger.active .line:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }
    }
}

/* ---------------------  /max-width 992px ------------------------- */

/* ---------------------  max-width 768px ------------------------- */
@media(max-width:768px) {
    .header {
        .header_top_wrapper {
            display: none;
        }

        .header_nav_wrapper {
            .navbar {
                padding: 0 20px;

                .nav-menu {
                    gap: 30px;
                    padding: 30px 20px;
                }
            }
        }
    }

    .contact_hero {
        .contact_hero_container {
            .contact_hero_wrapper {
                .contact-hero-box {
                    p {
                        font-size: 5rem;
                    }
                }
            }
        }
    }
}

/* ---------------------  /max-width 768px ------------------------- */
/* ---------------------  max-width 568px ------------------------- */
@media(max-width: 568px) {
    .header {
        .header_top_wrapper {
            display: none;
        }

        .header_nav_wrapper {
            .navbar {
                padding: 0 12px;

                .logo a {
                    font-size: 2.5rem;
                }

                .nav-menu {
                    gap: 30px;
                    padding: 5px 10px 30px 12px;

                    a {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    .contact_hero {
        .contact_hero_container {
            .contact_hero_wrapper {
                .contact-hero-box {
                    p {
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}

/* ---------------------  /max-width 568px ------------------------- */

/* ---------------------  /max-width 378px ------------------------- */
@media (max-width: 378px) {
    .header {
        .header_top_wrapper {
            display: none;
        }

        .header_nav_wrapper {
            .navbar {
                padding: 0 12px;

                .logo a {
                    font-size: 2rem;
                }

                .nav-menu {
                    gap: 20px;
                    padding: 5px 10px 30px 12px;

                    a {
                        font-size: 1.2rem;
                    }
                }
                .hamburger{
                    .line{
                        width: 30px;
                    }
                }
            }
        }
    }

    .contact_hero {
        .contact_hero_container {
            .contact_hero_wrapper {
                .contact-hero-box {
                    ul {
                        li {
                            font-size: 1.2rem;
                        }

                        a {
                            font-size: 1.2rem;
                        }
                    }

                    p {
                        font-size: 3.2rem;
                    }
                }
            }
        }
    }
}

/* ---------------------  /max-width 378px ------------------------- */