/* ---------------------  max-width 1024px ------------------------- */
@media (max-width: 1250px) {
    .team{
        .team-container{
            grid-template-columns: repeat(2,1fr);
        }
    }

    .OurPricing {
        .ourPricing-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .map {
        .map-container {
            padding: 0 30px;
        }
    }
}

/* ---------------------  max-width 1024px ------------------------- */

/* ---------------------  max-width 992px ------------------------- */
@media (max-width: 992px) {
    .header {
        .header_top_wrapper {
            display: none;
        }

        .header_nav_wrapper {
            .navbar {
                background-color: $bg-1;

                .logo a {
                    color: $white;
                }

                .nav-menu {
                    position: fixed;
                    top: 80px;
                    left: -100%;
                    width: 100%;
                    flex-direction: column;
                    z-index: 100000;
                    padding: 30px;
                    gap: 30px;
                    background-color: $bg-1;

                    &.active {
                        left: 0;
                    }

                    a {
                        color: $white;
                    }
                }
                .hamburger{
                    display: block;
                }

                .hamburger.active .line:nth-child(2) {
                    background-color: transparent;
                }

                .hamburger.active .line:nth-child(1) {
                    transform: translateY(12px) rotate(45deg);
                }

                .hamburger.active .line:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }
    }

    .home_hero{
        .homeHero-container{
            .hero-item{
                .hero-img{
                    .hero-info{
                        h1{
                            font-size: 5rem;
                        }
                        p{
                            font-size: 1.6rem;
                        }
                    }
                }
            }
            .hero-item-2{
                .hero-img-2{
                    .hero-info{
                        .heading{
                            font-size: 5rem;
                        }
                        p{
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }

    .institution {
        .institution-container {
            @include max-width;
            grid-template-columns: repeat(1, 1fr);
            .institution-left{
                grid-row: 2/2;
            }
        }
    }

    .Services{
        .Services-title{
            h2{
                font-size: 3.2rem;
            }
        }
        .Services-container{
            grid-template-columns: repeat(2,1fr);
        }
    } 

    .studies{
        .studies-title{
            text-align: center;
            padding: 0 20px;
            h3{
                font-size: 1.4rem;
            }
            h2{
                font-size: 3.2rem;
            }
        }
        .studies-container{
            padding-top: 50px;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 320px 320px;
        }
    }

    .BlogContent {
        .Blog-container {
            grid-template-columns: 1fr;
        }
    }

    .footer {
        .footer-top {
            height: auto;
            .footer-top-wrapper {
                padding: 100px 30px;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 30px;
            }
        }
    }
}

/* ---------------------  /max-width 992px ------------------------- */

/* ---------------------  max-width 768px ------------------------- */
@media(max-width:768px) {
    .header {
        .header_top_wrapper {
            display: none;
        }

        .header_nav_wrapper {
            .navbar {
                padding: 0 20px;

                .nav-menu {
                    gap: 30px;
                    padding: 30px 20px;
                }
            }
        }
    }

    .home_hero{
        .homeHero-container{
            .hero-item{
                .hero-img{
                    .hero-info{
                        h1{
                            font-size: 4rem;
                            width: 80%;
                        }
                        p{
                            font-size: 1.6rem;
                            width: 90%;
                        }
                    }
                }
            }
            .hero-item-2{
                .hero-img-2{
                    .hero-info{
                        .heading{
                            font-size: 4rem;
                            width: 90%;
                        }
                        p{
                            font-size: 1.6rem;
                            width: 90%;
                        }
                    }
                }
            }
        }
    }

    .institution {
        .institution-container{
            @include max-width;
            padding: 0 20px;
            grid-template-columns: repeat(1, 1fr);
            .institution-right{
                h2{
                    font-size: 3.5rem;
                }
              
            }
        }
    }

    .team{
        .team-title{
            h2{
                font-size: 3.5rem;
            }
        }
        .team-container{
            padding: 0 20px;
            padding-top: 50px;
            grid-template-columns: repeat(1,1fr);
        }
    }

    .AboutUs{
        .AboutUs-container{
            padding: 0 20px;
            grid-template-columns: repeat(1,1fr);
            gap: 10px;
            .AboutUs-Right{
                padding-top: 30px;
                h3{
                    font-size: 1.4rem;
                }
                h2{
                    font-size: 3.5rem;
                }
                p{
                    font-size: 1.6rem;
                }
                .AboutUs-btn{
                    font-size: 1.5rem;
                }
            }
        }
    }

    .testimonial{
        .testimonial-title{
            h3{
                font-size: 1.4rem;
            }
            h2{
                font-size: 3.5rem;
            }
        }
        .testimonial-container{
            padding: 0 20px;
            padding-top: 80px;
        }
    }

    .Statistics {
        .statistic-title {
            padding: 0 20px;
    
            h3 {
                font-size: 1.4rem;
            }
    
            h2 {
                font-size: 3.5rem;
            }
        }
    
        .statistic-container {
            padding: 0 20px;
            padding-top: 50px;
            grid-template-columns: repeat(2, 1fr);
    
            .stactistic-items {
                span {
                    font-size: 4rem;
                }
    
                p {
                    font-size: 1.6rem;
                }
            }
        }
    }

    .customer {
        .customer-container {
            padding: 0 20px;
            grid-template-columns: repeat(1, 1fr);
        
            .customer-items {
                h3 {
                    font-size: 1.4rem;
                }
    
                h2 {
                    font-size: 3.5rem;
                }
    
                p {
                    font-size: 1.6rem;
                }
    
                .customer-button {
                
                    ul {
                        li {
                            i {
                                font-size: 1.4rem;
                            }
                        }
                    }
    
                    p {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    .Services{
        .Services-title{
            padding: 0 20px;
            h2{
                font-size: 3.2rem;
            }
        }
        .Services-container{
            padding: 0 20px;
            grid-template-columns: repeat(2,1fr);
        }
    } 

    .studies{
        .studies-title{
            text-align: center;
            padding: 0 20px;
            h3{
                font-size: 1.4rem;
            }
            h2{
                font-size: 3.2rem;
            }
        }
        .studies-container{
            padding: 0 20px;
            padding-top: 50px;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 320px 320px;
        }
    }

    .OurPricing {
        .OurPricing-title {
            padding: 0 20px;

            h3 {
                font-size: 1.4rem;
            }

            h2 {
                font-size: 3.5rem;
            }
        }
    }

    .BlogContent {
        .Blog-container {
            grid-template-columns: 1fr;
            padding: 0 20px;
            gap: 0;

            .BlogContent {
                .BlogContent-items {
                    margin-bottom: 30px;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 20px;

                    .Blog-info {
                        padding: 30px;
                    }
                }
            }

            .BlogAside {
                padding-top: 10px;
            }
        }
    }

    .contact_hero {
        .contact_hero_container {
            .contact_hero_wrapper {
                .contact-hero-box {
                    p {
                        font-size: 5rem;
                    }
                }
            }
        }
    }

    .contactUs {
        padding: 0 20px;
        padding-top: 80px;

        .contactUs-box {
            padding: 25px;

            .contactUs-title {
                h3 {
                    font-size: 2.2rem;
                }

                p {
                    font-size: 1.4rem;
                }
            }

            .contactUs-info {
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;

                .contactUs-items {
                    p {
                        font-size: 1.4rem;
                    }
                }
            }

            .contactUs-form {
                form {
                    .contactBox-50 {
                        flex-direction: column;
                    }
                }
            }
        }
    }

    .map {
        .map-container {
            padding: 0 20px;
        }
    }

    .Prepare {
        .Prepare-container {
            padding: 80px 20px;

            .prepareLeft {
                p {
                    font-size: 2.8rem;
                }
            }
        }
    }

    .footer {
        .footer-top {
            height: auto;

            .footer-top-wrapper {
                padding: 100px 20px;
                grid-template-columns: 1fr;
                gap: 30px;

                .footer-Link {
                    ul {
                        padding-top: 0;
                    }
                }
            }
        }

        .footer-bottom {
            .footer-bottom-container {
                padding: 0 50px;
            }
        }
    }
}

/* ---------------------  /max-width 768px ------------------------- */
/* ---------------------  max-width 568px ------------------------- */
@media(max-width: 568px) {
    .header {
        .header_top_wrapper {
            display: none;
        }

        .header_nav_wrapper {
            .navbar {
                padding: 0 12px;

                .logo a {
                    font-size: 2.5rem;
                }

                .nav-menu {
                    gap: 30px;
                    padding: 5px 10px 30px 12px;

                    a {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    .home_hero{
        .homeHero-container{
            .hero-item{
                .hero-img{
                    .hero-info{
                        top: 40%;
                        padding: 0 12px;
                        h1{
                            font-size: 3.2rem;
                            width: 100%;
                        }
                        .heading{
                            font-size: 3.2rem;
                            width: 100%;
                        }
                        p{
                            font-size: 1.4rem;
                            width: 95%;
                        }
                        .hero-btn{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            .hero-item-2{
                .hero-img-2{
                    .hero-info{
                        padding: 0 12px;
                        top: 40%;
                        .heading{
                            font-size: 3.2rem;
                            width: 100%;
                        }
                        p{
                            font-size: 1.4rem;
                            width: 95%;
                        }
                    }
                }
            }
        }
    }

    .institution {
        .institution-container{
            @include max-width;
            padding: 0 12px;
            grid-template-columns: repeat(1, 1fr);
            .institution-right{
                h2{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.4rem;
                }
                p:nth-child(3){
                    font-size: 1.4rem;
                    padding-bottom: 10px;
                }
            }
            .institution-left{
                grid-template-columns: repeat(1,1fr);
            }
        }
    }

    .team{
        .team-title{
            h2{
                font-size: 2.5rem;
            }
        }
        .team-container{
            padding: 0 12px;
            padding-top: 50px;
            grid-template-columns: repeat(1,1fr);
        }
    }

    .AboutUs{
        .AboutUs-container{
            padding: 0 12px;
            grid-template-columns: repeat(1,1fr);
            gap: 10px;
            .AboutUs-Right{
                padding-top: 30px;
                h3{
                    font-size: 1.4rem;
                }
                h2{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.4rem;
                }
                .AboutUs-btn{
                    font-size: 1.4rem;
                }
            }
        }
    }

    .testimonial{
        .testimonial-title{
            h3{
                font-size: 1.4rem;
            }
            h2{
                font-size: 2.5rem;
            }
        }
        .testimonial-container{
            padding: 0 12px;
            padding-top: 80px;
        }
    }

    .customer {
        .customer-container {
            padding: 0 12px;
     
            .customer-items {
                h3 {
                    font-size: 1.4rem;
                }
    
                h2 {
                    font-size: 2.5rem;
                }
    
                p {
                    font-size: 1.4rem;
                }
    
                .customer-button {
                
                    ul {
                        li {
                            i {
                                font-size: 1.4rem;
                            }
                        }
                    }
    
                    p {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    .Statistics {
        .statistic-title {
            padding: 0 20px;
    
            h3 {
                font-size: 1.4rem;
            }
    
            h2 {
                font-size: 2.5rem;
            }
        }
    
        .statistic-container {
            padding: 0 12px;
            padding-top: 50px;
            grid-template-columns: repeat(1, 1fr);
    
            .stactistic-items {
                span {
                    font-size: 3rem;
                }
    
                p {
                    font-size: 1.4rem;
                }
            }
        }
    }

    .Services{
        .Services-title{
            padding: 0 20px;
            h3{
                font-size: 1.4rem;
            }
            h2{
                font-size: 2.5rem;
            }
        }
        .Services-container{
            padding: 0 12px;
            grid-template-columns: repeat(1,1fr);
            .service-items{
                .services-info{
                    h3{
                        font-size: 2rem;
                    }
                    p{
                        font-size: 1.4rem;
                        width: 90%;
                        margin: auto;
                    }
                }
            }
        }
    } 

    .studies{
        .studies-title{
            padding: 0 12px;
            h3{
                font-size: 1.4rem;
            }
            h2{
                font-size: 2.5rem;
            }
        }
        .studies-container{
            padding: 0 12px;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: 320px 320px;
        }
    }

    .OurPricing {
        .OurPricing-title {
            padding: 0 12px;
            h2 {
                font-size: 3.2rem;
            }
        }
        .ourPricing-container{
            grid-template-columns: repeat(1,1fr);
            padding: 50px 12px ;
        }
    }

    .BlogContent {
        .Blog-container {
            padding: 0 12px;

            .BlogContent {
                .BlogContent-items {
                    margin-bottom: 30px;

                    .Blog-info {
                        padding: 30px;

                        h3 {
                            font-size: 1.6rem;
                        }

                        p {
                            font-size: 1.4rem;
                        }

                        .blog-btn {
                            padding: 12px 20px;
                            font-size: 1.6rem;
                        }
                    }
                }
            }

            .BlogAside {
                padding-top: 10px;

                .blog-service {
                    h3 {
                        font-size: 1.8rem;
                    }

                    ul {
                        li {
                            font-size: 1.4rem;

                            i {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }

                .blog-recent {
                    h3 {
                        font-size: 1.8rem;
                    }

                    .blog-container {
                        .blog-recent-box {
                            .blog-recent-right {
                                .blog-recent-items {
                                    h4 {
                                        font-size: 1.6rem;
                                    }

                                    ul {
                                        li {
                                            font-size: 1.2rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .blog-tab {
                    h3 {
                        font-size: 1.8rem;
                    }
                }

                .blog-paragraph {
                    h3 {
                        font-size: 1.8rem;
                    }

                    p {
                        line-height: 1.6;
                    }
                }
            }
        }
    }

    .contact_hero {
        .contact_hero_container {
            .contact_hero_wrapper {
                .contact-hero-box {
                    p {
                        font-size: 4rem;
                    }
                }
            }
        }
    }

    .contactUs {
        padding: 0 12px;
        padding-top: 80px;

        .contactUs-box {
            .contactUs-form {
                form {
                    .contactBox-50 {
                        flex-direction: column;
                    }

                    .contactUs-btn {
                        padding: 12px 24px;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    .map {
        .map-container {
            padding: 0 12px;
        }
    }

    .Prepare {
        .Prepare-container {
            grid-template-columns: repeat(1, 1fr);
            padding: 60px 12px;

            .prepareLeft {
                h4 {
                    font-size: 1.4rem;
                }

                p {
                    font-size: 2.5rem;
                }
            }

            .prepareRight {
                justify-self: start;
                margin-top: 30px;

                .prepare-btn {
                    padding: 15px 35px;
                    font-size: 1.5rem;
                }
            }
        }
    }

    .footer {
        .footer-top {
            height: auto;

            .footer-top-wrapper {
                padding: 80px 12px;
                grid-template-columns: 1fr;
                gap: 30px;

                .footer-about {
                    .footer-logo {
                        padding-bottom: 20px;

                        a {
                            font-size: 2.4rem;

                            small {
                                font-size: 2.4rem;
                            }
                        }
                    }

                    .footer-content {
                        p {
                            font-size: 1.4rem;
                        }
                    }
                }

                .footer-service {
                    .footer-title {
                        h3 {
                            font-size: 1.6rem;
                        }
                    }

                    .foot-service-links {
                        padding-top: 20px;

                        ul {
                            a {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }

                .footer-Link {
                    ul {
                        padding-top: 0;

                        a {
                            font-size: 1.4rem;
                        }
                    }
                }

                .footer-post {
                    .footer-title {
                        h3 {
                            font-size: 1.6rem;
                        }
                    }

                    ul {
                        padding-top: 20px;

                        li {
                            p {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }

                .footer-info {
                    .footer-title {
                        h3 {
                            font-size: 1.6rem;
                        }
                    }

                    ul {
                        padding-top: 20px;
                        grid-template-columns: 10px 1fr;

                        span {
                            font-size: 1.4rem;
                            color: $white;
                        }

                        li {
                            font-size: 1.4rem;
                            color: $white;
                        }
                    }
                }
            }
        }

        .footer-bottom {
            .footer-bottom-container {
                p {
                    font-size: 1.4rem;
                }
            }
        }
    }

}

/* ---------------------  /max-width 568px ------------------------- */

/* ---------------------  /max-width 378px ------------------------- */
@media (max-width: 378px) {
    .header {
        .header_top_wrapper {
            display: none;
        }

        .header_nav_wrapper {
            .navbar {
                padding: 0 12px;

                .logo a {
                    font-size: 2rem;
                }

                .nav-menu {
                    gap: 20px;
                    padding: 5px 10px 30px 12px;

                    a {
                        font-size: 1.2rem;
                    }
                }

                .hamburger {
                    .line {
                        width: 30px;
                    }
                }
            }
        }
    }

    .home_hero{
        .homeHero-container{
            .hero-item{
                .hero-img{
                    .hero-info{
                        padding: 0 12px;
                        top: 35%;
                        h1{
                            font-size: 2.8rem;
                        }
                        p{
                            font-size: 1.3rem;
                            width: 95%;
                        }
                        .hero-btn{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            .hero-item-2{
                .hero-img-2{
                    .hero-info{
                        padding: 0 12px;
                        top: 35%;
                        .heading{
                            font-size: 2.8rem;
                            width: 100%;
                        }
                        p{
                            font-size: 1.3rem;
                            width: 95%;
                        }
                        .hero-btn{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    .institution {
        .institution-container{
            @include max-width;
            padding: 0 12px;
            grid-template-columns: repeat(1, 1fr);
            .institution-right{
                h2{
                    font-size: 2rem;
                }
                h3{
                    font-size: 1.2rem;
                }
                p{
                    font-size: 1.2rem;
                }
                p:nth-child(3){
                    font-size: 1.2rem;
                    padding-bottom: 10px;
                }
                .institution-btn{
                    font-size: 1.2rem;
                }
            }
            .institution-left{
                grid-template-columns: repeat(1,1fr);
                .institution-items:nth-child(1){
                    padding: 30px 20px;
                    .institution-info{
                        h3{
                            font-size: 1.6rem;
                        }
                        p{
                            font-size: 1.4rem;
                        }
                    }
                }
                .institution-items{
                    padding: 30px 20px;
                    .institution-info{
                        h3{
                            font-size: 1.6rem;
                        }
                        p{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }

    .team{
        .team-title{
            h2{
                font-size: 2.5rem;
            }
        }
        .team-container{
            padding: 0 12px;
            padding-top: 50px;
            grid-template-columns: repeat(1,1fr);
            .team-items{
                .team-bottom-box {
                    h3{
                        font-size: 1.4rem;
                    }
                    span{
                        font-size: 1.2rem;
                    }
                    p{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .AboutUs{
        .AboutUs-container{
            padding: 0 12px;
            grid-template-columns: repeat(1,1fr);
            gap: 10px;
            .AboutUs-Right{
                padding-top: 30px;
                h3{
                    font-size: 1.2rem;
                }
                h2{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.2rem;
                }
                .AboutUs-btn{
                    font-size: 1.2rem;
                }
            }
        }
    }

    .testimonial{
        .testimonial-title{
            h3{
                font-size: 1.2rem;
            }
            h2{
                font-size: 2rem;
            }
        }
        .testimonial-container{
            padding: 0 12px;
            padding-top: 80px;
            .owl-carousel{
                .testimonial-items{
                    p{
                        font-size: 1.2rem;
                    }
                    .testimonial-info {
                        .testimonial-content {
                            h4 {
                                font-size: 1.4rem;
                            }
                            
                            p {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .customer {
        .customer-container {
            padding: 0 12px;
     
            .customer-items {
                h3 {
                    font-size: 1.2rem;
                }
    
                h2 {
                    font-size: 2rem;
                }
    
                p {
                    font-size: 1.2rem;
                }
    
                .customer-button {
                
                    ul {
                        li {
                            i {
                                font-size: 1.4rem;
                            }
                        }
                    }
    
                    p {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    .Statistics {
        .statistic-title {
            padding: 0 20px;
    
            h3 {
                font-size: 1.2rem;
            }
    
            h2 {
                font-size: 2rem;
            }
        }
    
        .statistic-container {
            padding: 0 12px;
            padding-top: 50px;
            grid-template-columns: repeat(1, 1fr);
    
            .stactistic-items {
                span {
                    font-size: 2.5rem;
                }
    
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .Services{
        .Services-title{
            padding: 0 20px;
            h3{
                font-size: 1.2rem;
            }
            h2{
                font-size: 2rem;
            }
        }
        .Services-container{
            padding: 0 12px;
            .service-items{
                .services-info{
                    h3{
                        font-size: 1.8rem;
                    }
                    p{
                        font-size: 1.2rem;
                        width: 90%;
                        margin: auto;
                    }
                }
            }
        }
    }

    .studies{
        .studies-title{
            text-align: center;
            padding: 0 12px;
            h3{
                font-size: 1.2rem;
            }
            h2{
                font-size: 2.2rem;
            }
        }
    }

    .OurPricing {
        .OurPricing-title {
            h3{
                font-size: 1.2rem;
            }
            h2 {
                font-size: 2.2rem;
            }
        }
        .ourPricing-container{
            grid-template-columns: repeat(1,1fr);
            padding: 50px 12px;
            .OurPricing-items{
                .OurPricing-box{
                    h3{
                        font-size: 1.6rem;
                    }
                    p{
                        font-size: 2.2rem;
                    }
                }
                .Ourpricing-info{
                    ul{
                        li{
                            font-size: 1.4rem;
                        }
                        .OurPricing-btn{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    .BlogContent {
        .Blog-container {
            padding: 0 12px;

            .BlogContent {
                .BlogContent-items {
                    margin-bottom: 30px;

                    .Blog-info {
                        padding: 30px;

                        h3 {
                            font-size: 1.4rem;
                        }

                        p {
                            font-size: 1.2rem;
                        }

                        .blog-btn {
                            padding: 12px 20px;
                            font-size: 1.4rem;
                        }
                    }
                }

                .blog-pagination {
                    ul {
                        li {
                            a {
                                width: 30px;
                                height: 30px;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }

            .BlogAside {
                padding-top: 10px;

                .blog-service {
                    h3 {
                        font-size: 1.6rem;
                    }

                    ul {
                        li {
                            font-size: 1.4rem;

                            i {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }

                .blog-recent {
                    h3 {
                        font-size: 1.8rem;
                    }

                    .blog-container {
                        .blog-recent-box {
                            .blog-recent-right {
                                .blog-recent-items {
                                    h4 {
                                        font-size: 1.4rem;
                                    }

                                    ul {
                                        li {
                                            font-size: 1.2rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .blog-tab {
                    h3 {
                        font-size: 1.6rem;
                    }
                }

                .blog-paragraph {
                    h3 {
                        font-size: 1.6rem;
                    }

                    p {
                        line-height: 1.6;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .contact_hero {
        .contact_hero_container {
            .contact_hero_wrapper {
                .contact-hero-box {
                    ul {
                        li {
                            font-size: 1.2rem;
                        }

                        a {
                            font-size: 1.2rem;
                        }
                    }

                    p {
                        font-size: 3.2rem;
                    }
                }
            }
        }
    }

    .contactUs {
        .contactUs-box {
            .contactUs-title {
                h3 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.2rem;
                }
            }

            .contactUs-info {
                .contactUs-items {
                    p {
                        font-size: 1.2rem;
                    }

                    h4 {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    .Prepare {
        .Prepare-container {
            .prepareLeft {
                h4 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: 2rem;
                }
            }

            .prepareRight {
                justify-self: start;
                margin-top: 30px;

                .prepare-btn {
                    padding: 12px 30px;
                    font-size: 1.4rem;
                }
            }
        }
    }

    .footer {
        .footer-top {
            height: auto;

            .footer-top-wrapper {
                padding: 80px 12px;
                grid-template-columns: 1fr;
                gap: 30px;

                .footer-about {
                    .footer-logo {
                        padding-bottom: 20px;

                        a {
                            font-size: 2.2rem;

                            small {
                                font-size: 2.2rem;
                            }
                        }
                    }

                    .footer-content {
                        p {
                            font-size: 1.2rem;
                        }
                    }
                }

                .footer-service {
                    .footer-title {
                        h3 {
                            font-size: 1.6rem;
                        }
                    }

                    .foot-service-links {
                        padding-top: 20px;

                        ul {
                            a {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }

                .footer-Link {
                    ul {
                        padding-top: 0;

                        a {
                            font-size: 1.2rem;
                        }
                    }
                }

                .footer-post {
                    .footer-title {
                        h3 {
                            font-size: 1.6rem;
                        }
                    }

                    ul {
                        padding-top: 20px;

                        li {
                            p {
                                font-size: 1.3rem;
                            }
                        }
                    }
                }

                .footer-info {
                    .footer-title {
                        h3 {
                            font-size: 1.6rem;
                        }
                    }

                    ul {
                        padding-top: 20px;
                        grid-template-columns: 10px 1fr;

                        span {
                            font-size: 1.4rem;
                            color: $white;
                        }

                        li {
                            font-size: 1.2rem;
                            color: $white;
                        }
                    }
                }
            }
        }

        .footer-bottom {
            .footer-bottom-container {
                padding: 0 50px;

                p {
                    font-size: 1.2rem;
                    line-height: 1.6;
                }
            }
        }
    }
}

/* ---------------------  /max-width 378px ------------------------- */