/* ----------------- Studies_style ------------------ */
.Services{
    width: 100%;
    height: auto;
    padding-top: 100px;
    background: #f9faff;
    .Services-title{
        @include max-width;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 50px;
        h3{
            font-size: 1.4rem;
            font-weight: 600;
            padding-bottom: 5px;
            color: rgba(0, 0, 0, 0.3);
        }
        h2{
            font-size: 3.8rem;
            font-weight: 500;
            color: #000000cc;
            padding-bottom: 50px;
        }
    }
}
/* ----------------- Studies_style ------------------ */