/* ----------------- Studies_style ------------------ */
.studies{
    width: 100%;
    height: auto;
    padding-top: 100px;
    background: #f9faff;
    .studies-title{
        @include max-width;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 50px;
        h3{
            font-size: 1.4rem;
            font-weight: 600;
            padding-bottom: 5px;
            color: rgba(0, 0, 0, 0.3);
        }
        h2{
            font-size: 3.8rem;
            font-weight: 500;
            color: #000000cc;
            padding-bottom: 50px;
        }
    }
    .studies-container{
        @include max-width;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 320px 320px;
        gap: 20px;
        .studies-items{
            position: relative;
            transition: 0.3s;
            &::after{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.3);
                visibility: hidden;
            }
            &:hover{
                &::after{
                    visibility: visible;
                }
                .studies-img{
                    .studies-overlay{
                        .studies-icon{
                            z-index: 10;
                            visibility: visible;
                        }
                        .studies-paragraph{
                            z-index: 10;
                            visibility: visible;

                        }
                    }
                }
            }
            .studies-img{
                position: relative;
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
                .studies-overlay{
                    .studies-icon{
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 14px;
                        color: $white;
                        background-color:#3bd381;
                        visibility: hidden;
                        i{
                            font-size: 1.4rem;
                        }
                    }
                    .studies-paragraph{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding: 20px;
                        color: $white;
                        visibility: hidden;
                        p{
                            font-size: 1.8rem;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}
/* ----------------- /Studies_style ------------------ */

/* ----------------- StudiesLink_style ------------------ */
.studiesPagition{
    width: 100%;
    height: auto;
    background: #f9faff;
    padding: 50px  0;
    .studies-Link{
        ul{
            @include max-width2;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px;
            padding-bottom: 50px;
            li{
                padding: 8px 16px;
                border: 1px solid #ccc;
                background-color: transparent;
                font-size: 1.6rem;
                color: #8c8c8c;
                transition: all 0.5s ease;
                cursor: pointer;
                &:hover,
                &.active{
                    color: $white;
                    background-color: $Primary;
                }
            }
        }
    }
}
/* ----------------- /StudiesLink_style ------------------ */